{% extends "account/_shell.html" %}
{% block title %}Check your email{% endblock %}
{% block eyebrow %}Forgot password{% endblock %}
{% block heading %}Check your email{% endblock %}
{% block lead %}<p class="lead">If an account exists for that address, a password reset link is on its way. The link works <b>once</b> and expires in <b>{{ minutes }} minutes</b>.</p>{% endblock %}
{% block content %}
<ol class="steps">
  <li><span class="n">1</span><span>Open the email from <b>JamiiTek</b> with the subject <b>"Reset your JamiiTek password"</b>.</span></li>
  <li><span class="n">2</span><span>Didn't get it within a few minutes? Check <b>Spam / Promotions</b>, or make sure you used the email on your account.</span></li>
</ol>
<a class="btn" href="{{ back_url }}">Back to {{ back_label }} sign in</a>
<div class="links"><a href="{% url 'password_reset' %}">Try a different email</a></div>
{% endblock %}
