{% extends "account/_shell.html" %}
{% block title %}Password changed{% endblock %}
{% block eyebrow %}Forgot password{% endblock %}
{% block heading %}Your password has been changed ✓{% endblock %}
{% block lead %}<p class="lead">For your security we signed you out everywhere else and emailed you a confirmation. Sign in with your new password.</p>{% endblock %}
{% block content %}
<a class="btn" href="{{ back_url }}">Sign in to {{ back_label }}</a>
<div class="links"><a href="/portal/login/">Client Portal</a><a href="/chatbot/login/">JamiiBot</a><a href="/builder/login/">Web Builder</a></div>
{% endblock %}
