{% load static %}<div class="chat" aria-hidden="true">
  <div class="chat-top">
    <picture>
      <source srcset="{% static 'img/jamiibot-icon.webp' %}" type="image/webp">
      <img src="{% static 'img/jamiibot-icon.png' %}" alt="" width="34" height="34">
    </picture>
    <div><div class="n">Juma Electronics</div><div class="s">online</div></div>
    <i class="fas fa-ellipsis-vertical v"></i>
  </div>
  <div class="chat-body">
    <div class="b in m1">Habari, Samsung A15 bei gani?<span class="t">21:47</span></div>
    <div class="typing m2t"><i></i><i></i><i></i></div>
    <div class="b out m2">Karibu sana! Samsung A15 (128GB) ni TSh 420,000. Tunayo nyeusi na bluu. Utakuja dukani au tukuletee?<span class="t">21:47</span></div>
    <div class="b in m3">Nitakuja kesho asubuhi<span class="t">21:48</span></div>
    <div class="typing m4t"><i></i><i></i><i></i></div>
    <div class="b out m4">Sawa kabisa 👍 Tupo Kariakoo, tunafungua saa 2 asubuhi.<span class="t">21:48</span></div>
  </div>
</div>
